/* ==========================================================================
   Footer styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   Footer style - begin
   ========================================================================== */
.edgtf-page-footer {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  z-index: 100;
  border-bottom: 1px solid #4d4d4d;
  box-sizing: border-box;
}

.edgtf-page-footer.edgtf-transparent-footer .edgtf-footer-top-holder,
.edgtf-page-footer.edgtf-transparent-footer .edgtf-footer-bottom-holder {
  background-color: transparent;
}

.edgtf-page-footer .edgtf-footer-top-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-color: #111;
  box-sizing: border-box;
}

.edgtf-page-footer .edgtf-footer-top-holder .edgtf-footer-top-alignment-center {
  text-align: center;
}

.edgtf-page-footer .edgtf-footer-top-holder .edgtf-footer-top-alignment-left {
  text-align: left;
}

.edgtf-page-footer .edgtf-footer-top-holder .edgtf-footer-top-alignment-right {
  text-align: right;
}

.edgtf-page-footer .edgtf-footer-top-holder .edgtf-footer-top-inner {
  box-sizing: border-box;
}

.edgtf-page-footer .edgtf-footer-top-holder .edgtf-footer-top-inner.edgtf-grid {
  padding: 97px 0 93px;
}

.edgtf-page-footer .edgtf-footer-top-holder .edgtf-footer-top-inner.edgtf-full-width {
  padding: 97px 40px 93px;
}

.edgtf-page-footer .edgtf-footer-bottom-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-color: #111;
  box-sizing: border-box;
  text-align: center;
}

.edgtf-page-footer .edgtf-footer-bottom-holder .edgtf-footer-bottom-inner {
  border-top: 1px solid #4a4a4a;
  box-sizing: border-box;
}

.edgtf-page-footer .edgtf-footer-bottom-holder .edgtf-footer-bottom-inner.edgtf-grid {
  padding: 10px 0 11px;
}

.edgtf-page-footer .edgtf-footer-bottom-holder .edgtf-footer-bottom-inner.edgtf-full-width {
  padding: 10px 40px 11px;
}

.edgtf-page-footer .edgtf-footer-bottom-holder .edgtf-footer-bottom-inner .edgtf-grid-col-6:first-child {
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .edgtf-page-footer .edgtf-footer-bottom-holder .edgtf-footer-bottom-inner .edgtf-grid-col-6:first-child {
    text-align: center;
  }
}

.edgtf-page-footer .edgtf-footer-bottom-holder .edgtf-footer-bottom-inner .edgtf-grid-col-6:last-child {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .edgtf-page-footer .edgtf-footer-bottom-holder .edgtf-footer-bottom-inner .edgtf-grid-col-6:last-child {
    text-align: center;
  }
}

.no-touch body:not(.error404) .edgtf-page-footer.edgtf-footer-uncover {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  -webkit-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}

.edgtf-right-side-menu-opened .edgtf-page-footer.edgtf-footer-uncover {
  left: -270px;
}

/* ==========================================================================
   Footer style - end
   ========================================================================== */
/* ==========================================================================
   Footer styles - end
   ========================================================================== */

/*# sourceMappingURL=footer-map.css.map */
